* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("https://ds055uzetaobb.cloudfront.net/chapter/Autobiographical_Numbers-aeLrOI.png");
}
h2 {
	margin: 20px 0;
}

/* Style the form */
form {
	background: transparent;
	border: 2px solid white;
	padding: 20px;
}
/* Style the number input */
input[type="number"] {
	width: 300px;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	color: #333;
}

/* Add focus style to number input */
input[type="number"]:focus {
	border-color: #66afe9;
	outline: none;
	box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

/* Style the submit button */
input[type="submit"] {
	background-color: white;
	color: black;
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

/* Add hover effect to submit button */
input[type="submit"]:hover {
	background-color: #66afe9;
	color: white;
}

/* Style the result container */
#result-cont {
	display: block;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	max-width: 800px;
	text-align: center;
}
